In [1]:
import pandas as pd
import numpy as np

In [2]:
# https://docs.google.com/spreadsheets/d/1ju4BEDdxhUJj7OvcGG2QmLlbmvSknwlIMFrdUS7JNhk/edit#gid=1442154428
gsheetid = '1ju4BEDdxhUJj7OvcGG2QmLlbmvSknwlIMFrdUS7JNhk'
forecasted_quantity_sheet = 'forecasted_quantity'
customers_sheet = 'customers'
forecasted_quantity_sheet_url = "https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(gsheetid, forecasted_quantity_sheet)
customers_sheet_url = "https://docs.google.com/spreadsheets/d/{}/gviz/tq?tqx=out:csv&sheet={}".format(gsheetid, customers_sheet)

In [3]:
forecasted_quantity_df = pd.read_csv(forecasted_quantity_sheet_url)
customers_df = pd.read_csv(customers_sheet_url)

In [4]:
forecasted_quantity_df.set_index('Date', inplace=True)
# customers_df.set_index('Name', inplace=True)

In [5]:
forecasted_quantity_df = forecasted_quantity_df.T

In [6]:
forecasted_quantity_df

Date,3/1/2024,3/2/2024,3/3/2024,3/4/2024,3/5/2024,3/6/2024,3/7/2024,3/8/2024,3/9/2024,3/10/2024,3/11/2024,3/12/2024,3/13/2024,3/14/2024,3/15/2024
ATAD DONG NAI,1194,1836,1386,1795,1795,1815,1897,1346,1184,1285,1590,1795,1938,1917,1774
HONDA,300,301,246,1663,1744,1373,300,247,247,326,193,193,219,998,1923
ZAMIL,1265,1266,864,1291,1291,1278,1328,1204,1478,1516,1391,1404,1629,1942,1516
DANG KHANH (LOX),1271,1203,1223,1856,1835,1775,1795,1631,1346,1265,1835,1571,1550,1672,1428
BV TAM DUC,335,351,122,228,274,152,183,168,198,183,760,450,183,214,274
THANG LONG,7798,9579,10826,12676,10047,9824,11517,10224,6037,10581,9980,10849,9267,7596,7775
BAY THANH L.AN,1945,1105,622,1292,166,273,1529,2098,2099,917,246,783,220,193,729
TAN GIA DINH (LOX),1629,1353,1554,1542,1378,1303,1479,1165,1190,1253,1579,1229,1604,1378,1015
ATAD LONG AN,620,569,687,818,902,772,849,910,742,616,750,914,923,875,863
BV HOAN MY THU DUC,183,365,183,274,275,183,365,274,275,365,183,275,274,274,366
MIEN DONG,249,1286,2539,2475,2459,3070,2693,2014,2484,2646,1305,1538,3286,3084,3164
KHI DAC BIET,922,959,814,995,304,776,1093,1092,1032,1081,837,364,644,1056,1190
THUY OAI,2056,6938,5073,6284,4966,8416,3444,5293,5125,6652,6569,5090,4833,2330,3663
THEP VIET NHAT,2385,353,622,1444,706,622,268,2201,3831,2031,1002,1747,3410,3478,2654
BV FV,574,283,274,191,365,183,274,275,291,274,366,365,366,366,365
SCHINDLER,673,488,652,555,407,467,421,386,209,340,481,584,478,545,524

In [7]:
customers_df

,Name,Latitude,Longtitude,Capacity,Near safety level,Safety level,Initial tank quantity,Time window
0,AIR LIQUIDE VN,10.85,106.81,0,0,0,0,0
1,ATAD DONG NAI,10.96,107.21,20000,25,10,19,day
2,HONDA,10.92,106.87,20000,25,10,59,day
3,ZAMIL,10.95,106.89,10000,25,10,74,day
4,DANG KHANH (LOX),10.97,106.91,20000,25,10,22,day
5,BV TAM DUC,10.73,106.72,10000,25,10,58,night
6,THANG LONG,11.49,106.63,27000,25,10,34,day
7,BAY THANH L.AN,10.57,106.49,18000,25,10,60,night
8,TAN GIA DINH (LOX),10.77,106.51,10000,25,10,27,night
9,ATAD LONG AN,10.85,106.48,20000,25,10,93,day
10,BV HOAN MY THU DUC,10.89,106.77,10000,25,10,50,night
11,MIEN DONG,11.73,106.53,20000,25,10,70,day
12,KHI DAC BIET,10.78,106.48,15000,25,10,28,day
13,THUY OAI,10.77,106.74,20000,25,10,30,day
14,THEP VIET NHAT,10.93,106.71,20000,25,10,87,day
15,BV FV,10.73,106.72,10000,25,10,67,night
16,SCHINDLER,10.62,106.76,20000,25,10,65,day

In [8]:
name_of_customers = customers_df.index

In [9]:
abc = customers_df.iloc[:, :]
print(len(abc))

17

In [10]:
for i in range(0,len(customers_df)):
    print(customers_df.iloc[i, :])

Name                     AIR LIQUIDE VN
Latitude                          10.85
Longtitude                       106.81
Capacity                              0
Near safety level                     0
Safety level                          0
Initial tank quantity                 0
Time window                           0
Name: 0, dtype: object
Name                     ATAD DONG NAI
Latitude                         10.96
Longtitude                      107.21
Capacity                         20000
Near safety level                   25
Safety level                        10
Initial tank quantity               19
Time window                        day
Name: 1, dtype: object
Name                      HONDA
Latitude                  10.92
Longtitude               106.87
Capacity                  20000
Near safety level            25
Safety level                 10
Initial tank quantity        59
Time window                 day
Name: 2, dtype: object
Name                      ZAMIL
Latitude                  10.95
Longtitude               106.89
Capacity                  10000
Near safety level            25
Safety level                 10
Initial tank quantity        74
Time window                 day
Name: 3, dtype: object
Name                     DANG KHANH (LOX)
Latitude                            10.97
Longtitude                         106.91
Capacity                            20000
Near safety level                      25
Safety level                           10
Initial tank quantity                  22
Time window                           day
Name: 4, dtype: object
Name                     BV TAM DUC
Latitude                      10.73
Longtitude                   106.72
Capacity                      10000
Near safety level                25
Safety level                     10
Initial tank quantity            58
Time window                   night
Name: 5, dtype: object
Name                     THANG LONG
Latitude                      11.49
Longtitude                   106.63
Capacity                      27000
Near safety level                25
Safety level                     10
Initial tank quantity            34
Time window                     day
Name: 6, dtype: object
Name                     BAY THANH L.AN
Latitude                          10.57
Longtitude                       106.49
Capacity                          18000
Near safety level                    25
Safety level                         10
Initial tank quantity                60
Time window                       night
Name: 7, dtype: object
Name                     TAN GIA DINH (LOX)
Latitude                              10.77
Longtitude                           106.51
Capacity                              10000
Near safety level                        25
Safety level                             10
Initial tank quantity                    27
Time window                           night
Name: 8, dtype: object
Name                     ATAD LONG AN
Latitude                        10.85
Longtitude                     106.48
Capacity                        20000
Near safety level                  25
Safety level                       10
Initial tank quantity              93
Time window                       day
Name: 9, dtype: object
Name                     BV HOAN MY THU DUC
Latitude                              10.89
Longtitude                           106.77
Capacity                              10000
Near safety level                        25
Safety level                             10
Initial tank quantity                    50
Time window                           night
Name: 10, dtype: object
Name                     MIEN DONG
Latitude                     11.73
Longtitude                  106.53
Capacity                     20000
Near safety level               25
Safety level                    10
Initial tank quantity           70
Time window                    day
Name: 11, dtype: object
Name                     KHI DAC BIET
Latitude                        10.78
Longtitude                     106.48
Capacity                        15000
Near safety level                  25
Safety level                       10
Initial tank quantity              28
Time window                       day
Name: 12, dtype: object
Name                     THUY OAI
Latitude                    10.77
Longtitude                 106.74
Capacity                    20000
Near safety level              25
Safety level                   10
Initial tank quantity          30
Time window                   day
Name: 13, dtype: object
Name                     THEP VIET NHAT
Latitude                          10.93
Longtitude                       106.71
Capacity                          20000
Near safety level                    25
Safety level                         10
Initial tank quantity                87
Time window                         day
Name: 14, dtype: object
Name                      BV FV
Latitude                  10.73
Longtitude               106.72
Capacity                  10000
Near safety level            25
Safety level                 10
Initial tank quantity        67
Time window               night
Name: 15, dtype: object
Name                     SCHINDLER
Latitude                     10.62
Longtitude                  106.76
Capacity                     20000
Near safety level               25
Safety level                    10
Initial tank quantity           65
Time window                    day
Name: 16, dtype: object

In [11]:
customer_info = customers_df.iloc[0, :]
customer_info.loc["Latitude"]

10.85

In [12]:
customer_info

Name                     AIR LIQUIDE VN
Latitude                          10.85
Longtitude                       106.81
Capacity                              0
Near safety level                     0
Safety level                          0
Initial tank quantity                 0
Time window                           0
Name: 0, dtype: object

In [13]:
for customer in customers_df:
    print(customer)

Name
Latitude
Longtitude
Capacity
Near safety level
Safety level
Initial tank quantity
Time window

In [14]:
customers_df.loc[name_of_customers[-1], "Longtitude"]

106.76

In [15]:
forecasted_quantity_df.iloc[0,0]

1194

In [16]:
forecasted_quantity = forecasted_quantity_df.to_numpy()
forecasted_quantity

array([[ 1194,  1836,  1386,  1795,  1795,  1815,  1897,  1346,  1184,
         1285,  1590,  1795,  1938,  1917,  1774],
       [  300,   301,   246,  1663,  1744,  1373,   300,   247,   247,
          326,   193,   193,   219,   998,  1923],
       [ 1265,  1266,   864,  1291,  1291,  1278,  1328,  1204,  1478,
         1516,  1391,  1404,  1629,  1942,  1516],
       [ 1271,  1203,  1223,  1856,  1835,  1775,  1795,  1631,  1346,
         1265,  1835,  1571,  1550,  1672,  1428],
       [  335,   351,   122,   228,   274,   152,   183,   168,   198,
          183,   760,   450,   183,   214,   274],
       [ 7798,  9579, 10826, 12676, 10047,  9824, 11517, 10224,  6037,
        10581,  9980, 10849,  9267,  7596,  7775],
       [ 1945,  1105,   622,  1292,   166,   273,  1529,  2098,  2099,
          917,   246,   783,   220,   193,   729],
       [ 1629,  1353,  1554,  1542,  1378,  1303,  1479,  1165,  1190,
         1253,  1579,  1229,  1604,  1378,  1015],
       [  620,   569,   687,   818,   902,   772,   849,   910,   742,
          616,   750,   914,   923,   875,   863],
       [  183,   365,   183,   274,   275,   183,   365,   274,   275,
          365,   183,   275,   274,   274,   366],
       [  249,  1286,  2539,  2475,  2459,  3070,  2693,  2014,  2484,
         2646,  1305,  1538,  3286,  3084,  3164],
       [  922,   959,   814,   995,   304,   776,  1093,  1092,  1032,
         1081,   837,   364,   644,  1056,  1190],
       [ 2056,  6938,  5073,  6284,  4966,  8416,  3444,  5293,  5125,
         6652,  6569,  5090,  4833,  2330,  3663],
       [ 2385,   353,   622,  1444,   706,   622,   268,  2201,  3831,
         2031,  1002,  1747,  3410,  3478,  2654],
       [  574,   283,   274,   191,   365,   183,   274,   275,   291,
          274,   366,   365,   366,   366,   365],
       [  673,   488,   652,   555,   407,   467,   421,   386,   209,
          340,   481,   584,   478,   545,   524]])

In [17]:
def find_inventory_levels(customers, forecasted_quantities):
    inventory_levels = np.ones_like(forecasted_quantities)
    for i, forecasted_quantity in forecasted_quantities:
        current_value = customers[i].init_quantity
        for j, value in forecasted_quantity:
            inventory_levels[i][j] = current_value - (value/customers[i].capacity)*100
            current_value = inventory_levels[i][j]

    return inventory_levels

In [18]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [19]:
a = [[1,2,3],[4,5,6],[7,8,9]]
desired_column = list(zip(*a))[2]
desired_column

(3, 6, 9)

In [20]:
abc = [[[1, 2], []], [[4, 5, 6], [4, 5, 6]]]

def create_zero_list(data):
  """Creates a list with the same shape as data filled with zeros."""
  zero_list = []
  for sublist1 in data:
    inner_list = []
    for sublist2 in sublist1:
      inner_list.append([0] * len(sublist2))  # Create a list with zeros for each sub-sublist
    zero_list.append(inner_list)
  return zero_list

zero_abc = create_zero_list(abc)
print(zero_abc)

[[[0, 0], []], [[0, 0, 0], [0, 0, 0]]]

In [21]:
abc = [[[1, 2], []], [[4, 5, 6], [4, 5, 6]]]

zero_abc = [[[0 for _ in range(len(sublist2))] for sublist2 in sublist1] for sublist1 in abc]
print(zero_abc)

[[[0, 0], []], [[0, 0, 0], [0, 0, 0]]]

In [6]:
a = [1,2,3,4,5,6]
i = 0
j = 3
a[j:i:-1] + [a[i]] + a[j + 1:]

[4, 3, 2, 1, 5, 6]

In [51]:
import itertools

def raw_shift(a, b, i):
    if len(b) - 1 - i >= 0:
        j = i
    else:
        j = i - len(b)
        a, b = b, a

    a = a + b[:j+1]
    b = b[j+1:]

    return a, b

a = ['1','2','3']
b = []
if not b:
    print(a)

# for i in range(len(a)+len(b)-1):
#     new_a, new_b = raw_shift(a, b, i)
#     print(new_a, new_b)
    # print(i)

['1', '2', '3']

In [36]:
len(['6'])

1